* {
  box-sizing: border-box;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #93a5e5;
  font-family: "Roboto";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button:disabled {
  background-color: #ccc !important;
  color: white !important;
  cursor: not-allowed !important;
}
input:disabled {
  cursor: not-allowed !important;
}
.show {
  display: unset !important;
}
.hide {
  display: none !important;
}
@media screen and (max-width: 576px) {
  body {
    background-color: #fff;
  }
}
